# Problem Statement
```
There are 1000 students attempting x questions in a competitive examination, where x is your birthdate coded as ddmmyyyy format.
For example if your birthday was on 11/12/2000, then x=11122000. Each student can score one mark per right answer, and a penalty of-0.5 marks per wrong answer. 
The negative marks increases per wrong answer as a penalty p=0.5*n, where n represents the n'th wrong answer. 
The questions are categorised into 5 topics, with number of questions in the categories in the ratio 10:4:3:2:1. 
All the questions are multiple choice questions (MCQ) type, with possibly more than one correct answer.

Write a program to automatically read the answers, assign marks, and rank the students based on their performance in each of the five topic categories. 
Your aim should be to reduce time and space complexity, at the same time ensure accurate results.

Things to consider
1. Explain the algorithm and logic of the solution in detail.
2. Explain why you have selected this approach by performing time complexity analysis. Represent the complexity in Big O notation.
3. Show step by step explanation of the code. Include the code within the report.
4. Extensively make use of data structures. List the set of data structures used. 
5. Explain when your solution works the best, and when it performs the worst.
6. Explain the algorithm with a flowchart as well as illustration (can be a hand drawing)
7. Check the grammar. Avoid spelling mistakes, spacing errors, capitilisation issues etc.
8. Make your solution unique, even if its a minor advancement from that is already there on internet and literature. Aim to come up with your own ideas.
9. Spend time on formating the report. If possible make use of LaTex based editors.
10. You may discuss the ideas in the chat. This will have marks.

Things to submit
1. A PDF file with a very detailed explanation of the solutions. Typically, a minimum of 20 pages in A4 size paper, 12 pt font, times new roman, and single line spacing; is expected.
2. Python code
3. Attach the screenshots of the chat discussions you were involved in discussing the solutions. Highlight your contributions.

Note
1. This is a second mid-term, and not a replacement for the first mid-term.
2. The best among 1st and 2nd mid-term will be considered as final marks. If you score less in mid-term 2, in comparison with mid-term 1, in such case, the marks scored in midterm 2 will be considered as bonus marks. The bonus marks will not exceeding 5% of the marks scored in the mid-term 1.
3. The mid-term one, and the mid-term two are expected to be attempted. In case, mid-term one was missed due to unavoidable reasons such as late joining or medical reasons only the marks from mid-term two will be counted.
```


#Maximum Number of Questions 
```
We need maximum number of questions to generate answer for all possible 
questions. Let us fix the the range of date of birth of eligible studets to be 01-01-1971 to 31-12-2003.
From this dates, minimum number of questions attempted by any student will be 1011971 and maximum number of questions will be 31122003
```

# Categorization of attempted questions
```
First we will  divide the maximum number of questions to topic categories one to five.
Date corresponding to maximum case would be 31-12-2003
The ratio of questions belonging to each topic category is given as10:4:3:2:1.
For the case where the question number is maximum, that is 1012003 the category wise split up questions will look like the following.

1.   Total number of questions = 31122003 (Maximum case)
*  Number of questions in **Category 1** = 15561001.5
*  Number of questions in **Category 2** = 6224400.6
*  Number of questions in **Category 3** = 4668300.45
*  Number of questions in **Category 4** = 3112200.3
*  Number of questions in **Category 5** = 1556100.15

2.   Now let us round the numbers. This gives the category wise split up as
*  Number of questions in **Category 1** = 15561001
*  Number of questions in **Category 2** = 6224401
*  Number of questions in **Category 3** = 4668300
*  Number of questions in **Category 4** = 3112200
*  Number of questions in **Category 5** = 1556100

Total questions = 31122002

3. If total dosen't add up to the actual number of questions attempted, then let us add to or subtract from category 5 to get correct total.

*Number of questions in **Category 5** = 1556101
Total questions = 31122003


```

# Answer Key and Response

```
We can generate caanswer key for each category based on the maximum case. Using this response to questions can be evaluated.

Answer key cqn be represented using  a matrix whose rows correspond to question number and columns correspond to answer options.

A one in the answer key matrix will represent correct anwer and a -1 would represent a wrong answer.

A single row of the answer key matrix will look like the following:
```
```
Answer Key Matrix = A

                             a  b  c d  
        Q_Num_1  [1 -1 -1 1]
```
```
Consider question number 1, represented as Q_Num_1.
Here a b c d are the options. Since a question can have multiple correct answers, elements in columns a and b have the value 1. 
Elements of column b and c are -1 since they represent the wrong answer.

A similar approach can be followed to store the responses as well.
 For example is the response to the above Q_Num_1 can be represented as below. Here option choosen or marked by the student is represented with 1 and other options are 0.
```
```
Response Matrix = R
                             a b c d  
        Q_Num_1  [1 0 0 0]
```
```
Numpy arrays can be used for  both answer key and response matrices.
```

# Calculation of Marks
```
Each correct response carry 1 mark. The negative marks increases per wrong answer as a penalty p=0.5*n, where n represents the n'th wrong answer.

1)So if we multiply corresponding elements of the answer key matrix and response matrix and this would give us another matrix, say the marks matrix M.

M = np.multiply(A,R)
```
```
2)If we take sum of all 1's, this would give the marks for correct answers.

positive marks = count of 1's

```
```
3)In a similar manner, if we multiply corresponding elements of the answer key matrix and response matrix and count all -1's, this would give the number wrong answer (n).
 From this the negative marks can be calculated by:

negative marks = n*(n + 1)/4
```
```
This calculation is to be done for each of the 5 categories separately
```

# Generation of answer key
```
We can pre-prepare answer key for each category, based on the maximum number of questions case.
Then this category wise answer key can be used to evaluate response of student. 
```

In [2]:
#Category 1
 
import numpy as np
 
#generate an answer key with 506002 questions
#Randomly choose an option as correct and represent it using 1
#numpy array for answer key {DS}
A_Cat1 = np.random.randint(2, size=(15561002, 4))
 
#Mark the remaining options as wrong using -1
A_Cat1[A_Cat1 == 0] = -1
 
#print anwer key for category 1
#print(A_Cat1)
 
#Category 2
 
#generate an answer key with 202401 questions
#Randomly choose an option as correct and represent it using 1
A_Cat2 = np.random.randint(2, size=(6224401, 4))
 
#Mark the remaining options as wrong using -1
A_Cat2[A_Cat2 == 0] = -1
 
#print anwer key for category 2
#print(A_Cat2)
 
#Category 3
 
#generate an answer key with 151800 questions
#Randomly choose an option as correct and represent it using 1
A_Cat3 = np.random.randint(2, size=(4668300, 4))
 
#Mark the remaining options as wrong using -1
A_Cat3[A_Cat3 == 0] = -1.
 
#print anwer key for category 3
#print(A_Cat3)
 
#Category 4
 
#generate an answer key with 101200  questions
#Randomly choose an option as correct and represent it using 1
A_Cat4 = np.random.randint(2, size=(3112200 , 4))
 
#Mark the remaining options as wrong using -1
A_Cat4[A_Cat4 == 0] = -1.
 
#print anwer key for category 4
#print(A_Cat4)
 
#Category 5
 
#generate an answer key with 50600 questions
#Randomly choose an option as correct and represent it using 1
A_Cat5 = np.random.randint(2, size=(1556101, 4))
 
#Mark the remaining options as wrong using -1
A_Cat5[A_Cat5 == 0] = -1.

# Dealing with Response
```
First we need the DOB to get the number of questions attempted.
Now these  questions are to be divided into 5 categories based on the ratio 10:4:3:2:1
```

# Catergory wise number of questions

In [3]:
#Finding category wise questions
def questions_per_cat(n_total,cat):
  q_per_cat = []
  #number of questions in category 1
  n1 = round(n_total * (10/20))
  q_per_cat.append(n1)

  #number of questions in category 2
  n2 = round(n_total * (4/20))
  q_per_cat.append(n2)

  #number of questions in category 3
  n3 = round(n_total * (3/20))
  q_per_cat.append(n3)

  #number of questions in category 4
  n4 = round(n_total * (2/20))
  q_per_cat.append(n4)

  #number of questions in category 5
  n5 = round(n_total * (1/20))
  

  #check if category wise numbers add up to n_total
  #if not adjust the number in category 5

  diff = n_total - (n1 + n2 + n3 + n4 + n5)
  if diff != 0:
    n5 = n5 + diff
  else:
    n5 = n5
  q_per_cat.append(n5)
  return int(q_per_cat[cat-1])

# Generate Response
```
Now we need to generate the response matrix for each category and append it with zeros, so as to match the dimensions of answer key matrix. 
This will help us to do operations between answer key matrix and response matrix.
```

In [4]:
#Generate response
#numpy array for response {DS}
def gen_response_cat(num_cat,A_cat):
  a = np.random.randint(2, size=(num_cat, 4))
  R = np.zeros(A_cat.shape)
  R[:a.shape[0],:a.shape[1]] = a
  return R

# Calculating marks
```
To calculate the marks the below steps can be followed:
* Multiply corresponding elements of answer key and response for each category
* From this resultant matrix, count the number of 1's to get marks for correct answers
* Count the number of -1s to get number of wrong answers
* Using the formula negative marks = n*(n + 1)/4, calculate negative marks 
* Add marks of right and wrong answers to get category wise total marks of a student 
```

In [5]:
def calc_marks_cat1(A,R):
  M = np.multiply(A,R)
  pos = np.count_nonzero(M == 1)
  n = np.count_nonzero(M == -1)
  neg = n*(n + 1)/4
  cat_total = pos - neg
  return cat_total

# StudentExam Class to Bring Together Required Methods

In [13]:
import os
class StudentExam:
    def __init__(self,name='Student',dob=0):
      self.name = name
      self.dob = dob
    def set_name(self,name):
      self.name = name
    def get_dob(self):
      print("Provide DOB in ddmmyyyy format. \n" "If your DOB is 1-Jan-2000, enter 01012000")
      dob = int(input("Enter DOB: "))
      self.dob = dob

    def q_num(self):
      self.n1 = questions_per_cat(self.dob,1)
      self.n2 = questions_per_cat(self.dob,2)
      self.n3 = questions_per_cat(self.dob,3)
      self.n4 = questions_per_cat(self.dob,4)
      self.n5 = questions_per_cat(self.dob,5)
    def response(self):
      self.R1 = gen_response_cat(self.n1,A_Cat1)
      self.R2 = gen_response_cat(self.n2,A_Cat2)
      self.R3 = gen_response_cat(self.n3,A_Cat3)
      self.R4 = gen_response_cat(self.n4,A_Cat4)
      self.R5 = gen_response_cat(self.n5,A_Cat5)
    def marks(self):
      self.cat1 = calc_marks_cat1(A_Cat1,self.R1)
      self.cat2 = calc_marks_cat1(A_Cat2,self.R2)
      self.cat3 = calc_marks_cat1(A_Cat3,self.R3)
      self.cat4 = calc_marks_cat1(A_Cat4,self.R4)
      self.cat5 = calc_marks_cat1(A_Cat5,self.R5)
  
    def print_student_marks(self):
      writepath = 'report.txt'
      mode = 'a' if os.path.exists(writepath) else 'w'
      with open(writepath, mode) as f:
        print(self.name, self.cat1,self.cat2,self.cat3,self.cat4,self.cat5,sep= ",",file=f)
      f.close()

# Conduct the Exam
```
Let us test our code by conductiong a mock exam
```

In [14]:
import datetime
import random

def gen_dob():
  start_date = datetime.date(1971, 1, 1)
  end_date = datetime.date(2003, 1, 1)
  time_between_dates = end_date - start_date
  days_between_dates = time_between_dates.days
  random_number_of_days = random.randrange(days_between_dates)
  yyyymmdd = str(start_date + datetime.timedelta(days=random_number_of_days))
  ddmmyyyy = yyyymmdd[8:] + yyyymmdd[5:7] + yyyymmdd[:4]
  return int(ddmmyyyy)
def gen_names(i):
    name = 'Student'+str(i)
    return name

#Assigning ranks to sudents for each category

In [16]:
# importing pandas package 
import pandas as pd 
import time
t1 = time.time()
  #Conduct exam for 10 students
for i in range(10):
  stu = StudentExam(gen_names(i),gen_dob())
  stu.q_num()
  stu.response()
  stu.marks()
  stu.print_student_marks()
# making data frame from csv file 
df = pd.read_csv('report.txt', header =None)
df.columns = ['Name', 'Category1Marks','Category2Marks','Category3Marks','Category4Marks','Category5Marks']
# creating a rank column and passing the returned rank series 
df['Category 1 Rank'] = df.Category1Marks.rank(method='dense',ascending=False)
df['Category 2 Rank'] = df.Category2Marks.rank(method='dense',ascending=False)
df['Category 3 Rank'] = df.Category3Marks.rank(method='dense',ascending=False)
df['Category 4 Rank'] = df.Category4Marks.rank(method='dense',ascending=False)
df['Category 5 Rank'] = df.Category5Marks.rank(method='dense',ascending=False)

  
# display after sorting w.r.t Name column 
print(df)
df
#print(time.time() - t1)

       Name  Category1Marks  ...  Category 4 Rank  Category 5 Rank
0  Student0   -2.030930e+13  ...              7.0              7.0
1  Student1   -1.075929e+13  ...              6.0              6.0
2  Student2   -3.036719e+13  ...              8.0              8.0
3  Student3   -3.083871e+12  ...              3.0              3.0
4  Student4   -7.203870e+10  ...              1.0              1.0
5  Student5   -4.229550e+13  ...              9.0              9.0
6  Student6   -5.274298e+13  ...             10.0             10.0
7  Student7   -1.071545e+13  ...              5.0              5.0
8  Student8   -5.128337e+12  ...              4.0              4.0
9  Student9   -1.052925e+12  ...              2.0              2.0

[10 rows x 11 columns]

       Name  Category1Marks  ...  Category 4 Rank  Category 5 Rank
0  Student0   -2.030930e+13  ...              7.0              7.0
1  Student1   -1.075929e+13  ...              6.0              6.0
2  Student2   -3.036719e+13  ...              8.0              8.0
3  Student3   -3.083871e+12  ...              3.0              3.0
4  Student4   -7.203870e+10  ...              1.0              1.0
5  Student5   -4.229550e+13  ...              9.0              9.0
6  Student6   -5.274298e+13  ...             10.0             10.0
7  Student7   -1.071545e+13  ...              5.0              5.0
8  Student8   -5.128337e+12  ...              4.0              4.0
9  Student9   -1.052925e+12  ...              2.0              2.0

[10 rows x 11 columns]